@charset "utf-8";
body, h1, h2, h3, .ellipsible, .ig-row, .ig-title, input, select, div.navigation-tray-container {
    background-color: white !important;
    color: #2D3B45 !important;
}

p, #section-tabs a.active, .ctrLD_bGBk, .mini-cal-header button, .mini-cal-header span, td, span div, #GradeSummarySelectMenuGroup span, .fc-day-header, .fQfxa_biBD, span.blnAQ_eCSh, span.enRcg_bGBk.enRcg_fpfC {
    color: #2D3B45 !important;
}

div.PlannerItem-styles__type span, div.PlannerItem-styles__due span span, div.PlannerEmptyState-styles__subtitle {
    color: #8B969E !important;
}

span, div.header-bar, .item-group-container, #breadcrumbs, table, #syllabusContainer, .pinned-discussions-v2__wrapper, .unpinned-discussions-v2__wrapper, .ic-discussion-row, .closed-for-comments-discussions-v2__wrapper, .discussions-v2__container-image, .ic-app-header__menu-list-item--active #global_nav_dashboard_link, .ic-notification__content, .ic-Dashboard-header__layout, .Day-styles__root, table.summary th, table.summary td, div.ac-input-box, ul.messages.unstyled.collectionViewItems li, #minical, #context-list li, #undated_events_list li, .ic-app-header__menu-list-item--active #global_nav_calendar_link, .ic-app-header__menu-list-item--active #global_nav_conversations_link, li.ic-app-header__menu-list-item--active a div.menu-item-icon-container span, div.fOyUs_bGBk {
    background-color: white !important;
}

.btn, #add-announcement, td.fc-state-highlight {
    background: #f5f5f5 !important;
    color: #2D3B45 !important;
}

.Button.Button--primary {
    background: #f5f5f5 !important;
}

button.ic-app-header__menu-list-link {
    background: #002a5c !important;
    color: #FAF9F6 !important;
}

.ic-app-header__menu-list-item--active button, .PlannerHeader-styles__root {
    background: white !important;
}

.ig-header, .ig-header span, .ig-header span span.name, .ig-header-title, button.element_toggler, header.panel, button.btn span {
    background-color: #f5f5f5 !important;
    color: #2D3B45 !important;
}

svg path, .ic-app-header__menu-list-item--active button div svg path, .ic-app-header__menu-list-item--active #global_nav_dashboard_link div.menu-item-icon-container svg path, .ic-app-header__menu-list-item--active #global_nav_conversations_link div.menu-item-icon-container svg path {
    fill: #2D3B45 !important;
}

div.menu-item-icon-container svg path, div.menu-item-icon-container span svg path  {
    fill: white !important;
}

span a, a span, button, #section-tabs a, td a, p a, div.ic-Action-header__Secondary a {
    background-color: white !important;
    color: #008EE2 !important;
}

th a, ul li a, h3 a, .ic-app-header__menu-list-item--active div.menu-item__text, div.h2.shared-space a {
    color: #008EE2 !important;
}

#syllabus td a {
    background-color: #f5f5f5 !important;
    color: #008EE2 !important;
}

#syllabus tr.date.date_passed td, #syllabus td span, span.ui-button-text {
    background-color: #f5f5f5 !important;
}

td.mini_calendar_day.day.today, td.mini_calendar_day.day.today div span.day_number {
    background-color: #FBEDE7 !important;
}

img {
    filter: none !important;
}

li.menu-item.ic-app-header__menu-list-item, span.message-count.label, div.menu-item-icon-container span {
    background-color: #002a5c !important;
}

div.summary, span.context, div.message-metadata.clearfix div.date {
    color: #73818C !important;
}

div.muted {
    color: #6C757C !important;
}

button.active {
    background-color: dimgray !important;
    color: white !important;
}
